/* --- 1. LE FOND (Background) --- */
/* Page de connexion (Login) */
.jazzmin-login-page {
    background: linear-gradient(135deg, #0f172a 0%, #1e1b4b 60%, #581c87 100%) !important;
}


/* --- 2. LE LOGO (Taille) --- */
/* Sur la page de connexion */
.login-box .login-logo img {
    max-width: 150px; /* Réduis ce chiffre si c'est encore trop gros */
    height: auto;
    filter: drop-shadow(0 0 10px rgba(139, 92, 246, 0.5)); /* Petit effet néon violet stylé */
}
