{% extends "base.html" %} 
{% load static %} 
{% load my_filters %} 

{% block title %}WhichGame - Recherche de jeux vidéo par prix et durée{% endblock %}

{% block meta_description %}
Trouvez votre prochain jeu vidéo en fonction de votre budget, du temps de jeu et de votre plateforme. Comparateur intelligent.
{% endblock %}

{% block extra_head %}
    {% if page_obj.has_previous %}
        <link rel="prev" href="?{% url_replace page=page_obj.previous_page_number %}">
    {% endif %}
    {% if page_obj.has_next %}
        <link rel="next" href="?{% url_replace page=page_obj.next_page_number %}">
    {% endif %}
    <style>
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    </style>
{% endblock %}

{% block content %}
{# HEADER #}
{% include "includes/filter_header.html" %}


<main class="container mx-auto px-4 md:px-6 py-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        {% for game in object_list %}
            {# GAME CARD #}
            {% include "includes/game_card.html" with game=game %}
        {% endfor %}
    </div>
    {% if is_paginated %}
        {# PAGINATION #}
        {% include "includes/pagination.html" %}
    {% endif %}
</main>

{# LIGHTBOX #}
{% include "includes/lightbox.html" %}

{# JSON-LD #}
{% include "includes/seo_json_ld.html" %}

{% endblock %}